<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_symbol"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApp"
        tools:targetApi="31">
        <activity
            android:name=".activity.SampleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".firebaseNotification.PushNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".broadcastFiles.BroadcastOtpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SecondMenuActivity"
            android:exported="false" />
        <activity
            android:name=".api.ApiActivity"
            android:exported="false"
            android:label="@string/api_process"
            android:process=":api" />
        <activity
            android:name=".storage.StorageActivity"
            android:exported="false" />
        <activity
            android:name=".services.backgroundService.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".maps.MapActivity"
            android:exported="false" />
        <activity
            android:name=".maps.DirectionsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".views.recyclerView.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".views.listView.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".views.gridView.GridViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".broadcastFiles.BroadcastActivity"
            android:exported="true" />

        <service android:name=".services.backgroundService.MyService" />
        <service
            android:name=".services.foregroundService.ForegroundService"
            android:foregroundServiceType="location|dataSync|mediaPlayback" />
        <service
            android:name=".firebaseNotification.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />
    </application>

</manifest>